<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" id="pagesheet" />

    <!-----angular-->

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/controllerTipoUsuario.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerTipoUsuario">


    <div class="jumbotron">
        <br>
        <br>
        <input type="text" ng-model="num1" class="form-control" />
        <br>
        <br>
        <input type="text" ng-model="num2" class="form-control" />
        <br>
        <br>
        <input type="submit" class="form-control" ng-click="soluciones()" />
        <br>
        <br>
        {{suma}}
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="ejecutar()">Learn more</a></p>
    </div>


    </section>
    <footer class="footer">
        <center><span> <p>TODOS LOS DERECHOS RESERVADOS 2015</p></span></center>
        <center><a href="login.html"> <button type="button" class="bottom">Ingresar al Sistema</button></a></center>
    </footer>

</body>
</html>