<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" id="pagesheet" />

	<!-----angular-->

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="controllers/controllerCliente.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerCliente">


	<div class="jumbotron">
		<br>
		<br>
		<div>
			<h4>Nombre: </h4>
			<input type="text" ng-model="nombreCliente" class="form-control" />
			<h4>Ruc: </h4>
			<input type="text" ng-model="rucCliente" class="form-control" />
			<h4>Direccion: </h4>
			<input type="text" ng-model="direccionCliente" class="form-control" />
			<h4>Telefono: </h4>
			<input type="text" ng-model="telefonoCliente" class="form-control" />
			<h4>Correo: </h4>
			<input type="text" ng-model="correoCliente" class="form-control" />
			<h4>Tipo cliente: </h4>
			<input type="text" ng-model="tipoCliente" class="form-control" />
		</div>
		<br>
		<p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="ingresoCliente()">Ingresar</a></p>
	</div>

</body>
</html>