<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link type="text/css" href="bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/controllerVehiculo.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerVehiculo" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="index.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="index.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tipo Combustible</a></li>
                                <li><a href="#">Cliente</a></li>
                                <li><a href="#">Tipo Usuario</a></li>
                                <li><a href="#">Tipo Mantenimiento</a></li>
                                <li><a href="#">Tipo Embarcacion</a></li>
                                <li><a href="#">Puerto</a></li>
                                <li><a href="#">Utensillos</a></li>
                                <li><a href="#">Vehículos</a></li>
                                <li><a href="#">Matereal Petreo</a></li>
                                <li><a href="#">Productos</a></li>
                                <li><a href="#">Propietario</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="jumbotron">
        <br>
        <br>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><center><h3 class="panel-title">Ingreso Vehiculo</h3></center></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-3">
                                    <h4>Descripcion: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" ng-model="descripcionVehiculo" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-3">
                                    <h4>Cantidad: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" ng-model="cantidadVehiculo" class="form-control" />
                                </div>
                            </div>
                            <br>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">

                            </div>

                            <div class="col-md-4">
                                <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="ingresoVehiculo()">Ingresar</a></p>
                            </div>

                            <div class="col-md-6">
                                <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="modificarVehiculo()">Modificar</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><center><h3 class="panel-title">Lista de Vehiculos</h3></center></div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-5">
                                <h4>Filtrar: </h4>
                            </div>

                            <div class="col-md-7">
                                <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                            </div>

                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-12">

                            </div>

                            <div class="col-md-12">
                                <select name="Puertos" ng-model="seleccionVehiculo" multiple class="form-control" style="height: 150px;" ng-click="buscarSeleccionVehiculo()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaVehiculo | filter:busqueda| orderBy:aux.descripcion_vehiculos">
                                        {{aux.descripcion_vehiculos}} {{" -- "}} {{aux.cantidad_vehiculos}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>