<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" id="pagesheet" />

    <!-----angular-->

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/controllerMaterialPetreo.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerMaterialPetreo">


    <div class="jumbotron">
        <br>
        <br>
        <div>
            <h4>Tipo Material: </h4>
            <input type="text" ng-model="tipoMaterial" class="form-control" />
            <h4>Numero Volquetas </h4>
            <input type="text" ng-model="numVolquetas" class="form-control" />
            <h4>Cantidad Total: </h4>
            <input type="text" ng-model="cantTotalM3" class="form-control" />
        </div>
        <br>
        <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="ingresoMaterialPetreo()">Ingresar</a></p>
    </div>

</body>
</html>