<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link type="text/css" href="/bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="/css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/app.js"></script>
    <script src="/controllers/controllerOrdenServicio.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerOrdenServicio" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="index.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="index.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoCliente.html">Cliente</a></li>
                                <li><a href="IngresoCombustible.html">Combustible</a></li>
                                <li><a href="IngresoContratoRecepcion.html">Contrato Recepcion</a></li>
                                <li><a href="IngresoDetalleMantenimiento.html">Detalle Mantenimiento</a></li>
                                <li><a href="IngresoEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantenimiento</a></li>
                                <!--<li><a href="IngresoMaterialPetreo.html">Matereal Petreo</a></li>
                                <li><a href="IngresoProducto.html">Productos</a></li>-->
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoTipoCombustible.html">Tipo Combustible</a></li>
                                <li><a href="IngresoTipoEmbarcacion.html">Tipo Embarcacion</a></li>
                                <li><a href="IngresoTipoMantenimiento.html">Tipo Mantenimiento</a></li>
                                <li><a href="IngresoTipoTripulante.html">Tipo Tripulante</a></li>
                                <li><a href="IngresoTipoUsuario.html">Tipo Usuario</a></li>
                                <li><a href="IngresoTripulante.html">Tripulante</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                                <li><a href="IngresoUtensilios.html">Utensillos</a></li>
                                <li><a href="IngresoVehiculo.html">Vehiculo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantimiento</a></li>
                                <li><a href="IngresoOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="IngresoPedido.html">Pedido</a></li>
                                <!--<li><a href="ModificarEmbarcacion.html">Modificar Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Modificar Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Modificar Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Modificar Pedido</a></li>-->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">INGRESO ORDEN SERVICIO</h2></center></div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <center><h4>Seleccion de Cliente</h4></center>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>Filtrar: </h4>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="busquedaCliente" class="form-control" placeholder="Busqueda" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="Clientes" ng-model="seleccionCliente" multiple class="form-control" style="height: 80px;" ng-click="buscarSeleccionListaCliente()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaCliente | filter:busquedaCliente| orderBy:aux.nombre_cliente">
                                                    {{aux.nombre_cliente}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Fecha: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="fecha" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Embarcacion: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="embarcacion" ng-options="item._id as item.nombre_embarcacion for item in listaEmbarcacion"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Puerto Embarque: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="puertoEmbarque" ng-options="item._id as item.descripcion_puerto for item in listaPuerto"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Puerto Desembarque: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="puertoDesembarque" ng-options="item._id as item.descripcion_puerto for item in listaPuerto"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Orometro Inicial M1: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="orometroInicialM1" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Orometro Inicial M2: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="orometroInicialM2" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Orometro Final M1: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="orometroFinalM1" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Orometro Final M2: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="orometroFinalM2" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Hora Salida: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="horaSalida" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Hora Arribo: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="horaArribo" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Contrato Recepcion: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="contratoRecepcion" ng-options="item._id as item.descripcion_contrato_recepcion for item in listaContratoRecepcion"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Detalle Material Pretreo: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Tipo Material: </h4>
                                    </div>
                                    <div class="col-md-7">

                                        <input type="text" ng-model="tipoMaterial" class="form-control" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Numero Volquetas </h4>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" ng-model="numVolquetas" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Cantidad Total: </h4>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" ng-model="cantTotalM3" class="form-control" />
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaMatPetreo()" />
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <select name="Puertos" ng-model="seleccionMatPetreo" multiple class="form-control" style="height: 150px;" ng-click="quitarSeleccionMaterialPetreo()">
                                <option value={{aux}}
                                        ng-repeat="aux in listaMaterialPetreo | orderBy:aux.tipo_material">
                                    {{aux.tipo_material}} {{" -- "}} {{aux.num_volquetas}} {{" -- "}} {{aux.cant_total_m3}}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Detalle Vehiculos: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Descripcion: </h4>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" ng-model="descripcionVehiculo" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Cantidad: </h4>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" ng-model="cantidadVehiculo" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaVehiculo()" />
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <select name="Puertos" ng-model="seleccionVehiculo" multiple class="form-control" style="height: 150px;" ng-click="quitarSeleccionVehiculo()">
                                <option value={{aux}}
                                        ng-repeat="aux in listaVehiculo | orderBy:aux.descripcion_vehiculos">
                                    {{aux.descripcion_vehiculos}} {{" -- "}} {{aux.cantidad_vehiculos}}
                                </option>
                            </select>
                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Consumo Combustible: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Consumo Conbustible: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="combustibleConsumo" ng-options="item._id as item.descripcion_tipo_combustible for item in listaCombustibleConsumo"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Cantidad: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="cantidadConsumoCombustible" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaConsumoCombustible()" />
                        </div>
                        <div class="col-md-12">
                            <select name="Puertos" ng-model="seleccionConsumoCombustible" multiple class="form-control" style="height: 150px;" ng-click="quitarSeleccionConsumoCombustible()">
                                <option value={{aux}}
                                        ng-repeat="aux in listaCombustibleConsumoSelect">
                                    {{aux.tipo_combustible.descripcion_tipo_combustible}} {{" -- "}} {{aux.cantidad_combustible}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Transporte Combustible: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Transportacion Combustible: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="combustibleTransporte" ng-options="item._id as item.descripcion_tipo_combustible for item in listaCombustibleTransporte"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Cantidad: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="cantidadTransporteCombustible" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaTransporteCombustible()" />
                        </div>
                        <div class="col-md-12">
                            <select name="Puertos" ng-model="seleccionTransporteCombustible" multiple class="form-control" style="height: 150px;" ng-click="quitarSeleccionTrasnsporteCombustible()">
                                <option value={{aux}}
                                        ng-repeat="aux in listaCombustibleTransporteSelect">
                                    {{aux.tipo_combustible.descripcion_tipo_combustible}} {{" -- "}} {{aux.cantidad_combustible}}
                                </option>
                            </select>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Nombre Capitan: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="nombreCapitan" ng-options="item._id as item.nombre_tripulante for item in listaTripulante"></select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Tripulantes: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Filtrar: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="busquedaTripu" class="form-control" placeholder="Busqueda" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <select name="Usuarios" ng-model="seleccionTripulante" multiple class="form-control" style="height: 150px;" ng-click="agregarSeleccionListaTripulante()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaTripulante | filter:busquedaTripu| orderBy:aux.nombre_tripulante">
                                        {{aux.nombre_tripulante}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select name="Usuarios" ng-model="seleccionTripulante" multiple class="form-control" style="height: 150px;" ng-click="quitarSeleccionListaTripulante()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaTripulanteSelect | filter:busquedaTripu| orderBy:aux.nombre_tripulante">
                                        {{aux.nombre_tripulante}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Detalle: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="detalle" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Observaciones: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="observaciones" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Observacion Maquinista: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="observacionMaquinista" class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Ingresar" ng-click="ingresoOrdenServicio()" />
                            </div>

                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>