<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link type="text/css" href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" media="screen" />


    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerEmbarcacion.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerEmbarcacion" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menu.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menu.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoCliente.html">Cliente</a></li>
                                <li><a href="IngresoContratoRecepcion.html">Contrato Recepcion</a></li>
                                <li><a href="IngresoEstadoOrden.html">Estado Orden Servicio</a></li>
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoTipoAlimento.html">Tipo Alimento</a></li>
                                <li><a href="IngresoTipoCombustible.html">Tipo Combustible</a></li>
                                <li><a href="IngresoTipoEmbarcacion.html">Tipo Embarcacion</a></li>
                                <li><a href="IngresoTipoMantenimiento.html">Tipo Mantenimiento</a></li>
                                <li><a href="IngresoTipoMaterialPetreo.html">Tipo Material Petreo</a></li>
                                <li><a href="IngresoTipoTripulante.html">Tipo Tripulante</a></li>
                                <li><a href="IngresoTipoUsuario.html">Tipo Usuario</a></li>
                                <li><a href="IngresoTripulante.html">Tripulante</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantimiento</a></li>
                                <li><a href="IngresoOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="IngresoPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white" ng-click="logout()"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->


    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">INGRESO EMBARCACION</h2></center></div>
                <div class="panel-body">

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Nombre: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="nombreEmbarcacion" placeholder="Nombre Embarcación" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Matrícula: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="numeroMatricula" placeholder="Número Matrícula" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Eslora Total: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="esloraTotal" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Tripulantes: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Filtrar: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="busquedaTripu" class="form-control" placeholder="Busqueda" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <select name="Usuarios" ng-model="seleccionTripulante" multiple class="form-control" style="height: 150px;">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaTripulante | filter:busquedaTripu| orderBy:aux.nombre_tripulante">
                                        {{aux.nombre_tripulante}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="height: 25px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control btn-primary" type="submit" value=">>>" ng-click="agregarSeleccionListaTripulante()" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control btn-primary" type="submit" value="<<<" ng-click="quitarSeleccionListaTripulante()" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <select name="Usuarios" ng-model="seleccionTripulante" multiple class="form-control" style="height: 150px;">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaTripulanteSelect | filter:busquedaTripu| orderBy:aux.nombre_tripulante">
                                        {{aux.nombre_tripulante}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Capitan: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="capitan" ng-options="item._id as item.nombre_tripulante for item in listaTripulantesCapitanes"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Puntual: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="puntual" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Propietario: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="propietario" ng-options="item._id as item.nombre_propietario for item in listaPropietarios"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Calado: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="calado" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Propulsion: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="propulsion" placeholder="Tipo Propulción" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Tonelada Bruto: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="tonelajeBruto" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Tipo Combustible: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="tipoCombustible" ng-options="item._id as item.descripcion_tipo_combustible for item in listaTipoCombustible"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Capacidad Carga: </h4>
                            </div>
                            <div class="col-md-3">
                                <h4> </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="capacidadCarga" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Tipo Embarcación: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="tipoEmbarcacion" ng-options="item._id as item.descripcion_tipo_embarcacion for item in listaTipoEmbarcacion"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Manga: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="manga" min="0" placeholder="0" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Fecha Construción: </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group date jp-date">
                                    <input type="text" ng-model="fechaConstruccion" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $('.jp-date').datepicker({
                                        format: "dd/mm/yyyy",
                                        language: "es",
                                        autoclose: true
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Ingresar" ng-click="ingresoEmbarcacion()" />
                            </div>

                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>