<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../alertas/sweetalert.css">

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../alertas/sweetalert.min.js"></script>
    <script src="../notificaciones/notify.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerTipoEmbarcacion.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerTipoEmbacacion" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menu.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menu.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoCliente.html">Cliente</a></li>
                                <li><a href="IngresoContratoRecepcion.html">Contrato Recepción</a></li>
                                <li><a href="IngresoEstadoEmbarcacion.html">Estado Embarcación</a></li>
                                <li><a href="IngresoEstadoOrden.html">Estado Orden Servicio</a></li>
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoTipoAlimento.html">Tipo Alimento</a></li>
                                <li><a href="IngresoTipoCliente.html">Tipo Cliente</a></li>
                                <li><a href="IngresoTipoCombustible.html">Tipo Combustible</a></li>
                                <li><a href="IngresoTipoEmbarcacion.html">Tipo Embarcación</a></li>
                                <li><a href="IngresoTipoMantenimiento.html">Tipo Mantenimiento</a></li>
                                <li><a href="IngresoTipoMaterialPetreo.html">Tipo Material Petreo</a></li>
                                <li><a href="IngresoTipoTripulante.html">Tipo Tripulante</a></li>
                                <li><a href="IngresoTipoUsuario.html">Tipo Usuario</a></li>
                                <li><a href="IngresoTripulante.html">Tripulante</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html">Embarcación</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantenimiento</a></li>
                                <li><a href="IngresoOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="IngresoPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcación</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantenimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign" style="color: white"></span> {{tipoUsuario.descripcion_tipo_usuario}} </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: white"></span> {{usuario.username}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-10">
                        <h1></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h1></h1>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><center><h3 class="panel-title"><b>Tipo Embarcación</b></h3></center></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <h4>Descripción: </h4>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="nombre" onkeypress="return soloLetras(event,'nombre')" ng-model="descripcionTipoEmbarcacion" placeholder="Nombre Tipo Embarcación" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-4">
                                <h4>Estado: </h4>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="estado" ng-options="item.id as item.estado for item in listaEstado"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">

                            </div>

                            <div class="col-md-4">
                                <input class="form-control btn-primary" type="submit" value="Ingresar" ng-click="ingresoTipoEmbarcacion()" />
                            </div>

                            <div class="col-md-4">
                                <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarTipoEmbarcacion()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default" id="lista">
                    <div class="panel-heading"><center><h3 class="panel-title"><b>Lista  Tipos Embarcación</b></h3></center></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Seleccione un registro para modificarlo:</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-2">
                                <h4>Filtrar: </h4>
                            </div>

                            <div class="col-md-6">
                                <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                            </div>

                            <div class="col-md-12 col-xs-12">
                                <center>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr class="success">
                                                    <th>#</th>
                                                    <th>Descripción</th>
                                                    <th>Estado</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                <tr dir-paginate="item in listaTipoEmbarcacion| filter:busqueda| itemsPerPage:4 track by $index"
                                                    ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item) " pagination-id="embarcacion">

                                                    <td>{{$index+1}}</td>
                                                    <td>{{ item.descripcion_tipo_embarcacion}}</td>
                                                    <td>{{ item.estado.estado}}</td>

                                                </tr>
                                                <dir-pagination-controls pagination-id="embarcacion"></dir-pagination-controls> <!--agregar botones paginacion-->
                                            </tbody>
                                        </table>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>