<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerPedidoModificar.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerPedidoModificar" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="index.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="index.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoCliente.html">Cliente</a></li>
                                <li><a href="IngresoContratoRecepcion.html">Contrato Recepcion</a></li>
                                <li><a href="IngresoEstadoOrden.html">Estado Orden Servicio</a></li>
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoTipoCombustible.html">Tipo Combustible</a></li>
                                <li><a href="IngresoTipoEmbarcacion.html">Tipo Embarcacion</a></li>
                                <li><a href="IngresoTipoMantenimiento.html">Tipo Mantenimiento</a></li>
                                <li><a href="IngresoTipoMaterialPetreo.html">Tipo Material Petreo</a></li>
                                <li><a href="IngresoTipoTripulante.html">Tipo Tripulante</a></li>
                                <li><a href="IngresoTipoUsuario.html">Tipo Usuario</a></li>
                                <li><a href="IngresoTripulante.html">Tripulante</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantimiento</a></li>
                                <li><a href="IngresoOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="IngresoPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">MODIFICAR PEDIDO</h2></center></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading"><center><h3 class="panel-title">Lista de Pedidos</h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="Clientes" ng-model="seleccionPedido" multiple class="form-control" style="height: 75px;" ng-click="buscarSeleccionListaPedido()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaPedidos | filter:busqueda| orderBy:aux._id">
                                                    {{aux._id}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>ORDEN DE SERVICIO: </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="ordenServicio" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Alimentos: </h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select name="Puertos" ng-model="seleccionProducto" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionProductos()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaProductosNueva | orderBy:aux.tipo_producto">
                                        {{aux.tipo_producto}} {{" -- "}} {{aux.cantidad_producto}} {{" -- "}} {{aux.unidades_producto}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select name="Puertos" ng-model="seleccionProducto" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionProductos()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaProductos | orderBy:aux.tipo_producto">
                                        {{aux.tipo_producto}} {{" -- "}} {{aux.cantidad_producto}} {{" -- "}} {{aux.unidades_producto}}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Nombre: </h4>
                                        </div>
                                        <div class="col-md-6">

                                            <input type="text" ng-model="tipoProducto" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Cantidad: </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="cantidadProducto" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Unidades: </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="unidades" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaProductos()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaProductos()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="eliminarListaProductos()" />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Materiales: </h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select name="Puertos" ng-model="seleccionUtensilio" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionUtensilios()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaUtensiliosSelecciondosNueva">
                                        {{aux.utensilio.descripcion_utensilio}} {{" -- "}} {{aux.cantidad_utensilios}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select name="Puertos" ng-model="seleccionUtensilio" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionUtensilios()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaUtensiliosSelecciondos">
                                        {{aux.utensilio.descripcion_utensilio}} {{" -- "}} {{aux.cantidad_utensilios}}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Utensilio: </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" ng-model="utensilios" ng-options="item._id as item.descripcion_utensilio for item in listaUtensilios"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Cantidad Utensilio: </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" ng-model="cantidadUtensilios" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaUtensilios()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaUtensilios()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="eliminarListaUtensilios()" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                <br />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Observaciones: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="observaciones" style="height: 50px;" class="form-control" />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-2">
                            <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarPedido()" />
                        </div>

                        <div class="col-md-2">
                            <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>