<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../alertas/sweetalert.css">

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../alertas/sweetalert.min.js"></script>
    <script src="../notificaciones/notify.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerPedidoModificar.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerPedidoModificar" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menu.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menu.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoCliente.html">Cliente</a></li>
                                <li><a href="IngresoContratoRecepcion.html">Contrato Recepción</a></li>
                                <li><a href="IngresoEstadoEmbarcacion.html">Estado Embarcación</a></li>
                                <li><a href="IngresoEstadoOrden.html">Estado Orden Servicio</a></li>
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoPapelesEmbarcacion.html">Papeles Embarcación</a></li>
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoTipoAlimento.html">Tipo Alimento</a></li>
                                <li><a href="IngresoTipoCliente.html">Tipo Cliente</a></li>
                                <li><a href="IngresoTipoCombustible.html">Tipo Combustible</a></li>
                                <li><a href="IngresoTipoEmbarcacion.html">Tipo Embarcación</a></li>
                                <li><a href="IngresoTipoMantenimiento.html">Tipo Mantenimiento</a></li>
                                <li><a href="IngresoTipoMaterialPetreo.html">Tipo Material Petreo</a></li>
                                <li><a href="IngresoTipoTripulante.html">Tipo Tripulante</a></li>
                                <li><a href="IngresoTipoUsuario.html">Tipo Usuario</a></li>
                                <li><a href="IngresoTripulante.html">Tripulante</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Embarcación<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html"> Ingreso Embarcación</a></li>
                                <li><a href="ModificarEmbarcacion.html">Modificar Embarcaciòn</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantenimiento</a></li>
                                <li><a href="ModificarMantenimiento.html">Modificar Mantenimiento</a></li>
                            </ul>
                        </li>
                        <!--<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoEmbarcacion.html">Embarcación</a></li>
                                <li><a href="IngresoMantenimiento.html">Mantenimiento</a></li>
                                <li><a href="IngresoOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="IngresoPedido.html">Pedido</a></li>
                            </ul>
                        </li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orden Servicio<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoOrdenServicio.html">Ingreso Orden Servicio</a></li>
                                <li><a href="ModificarOrdenServicio.html">Modificar Orden Servicio</a></li>
                            </ul>
                        </li>
                        <!--<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcación</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantenimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pedido<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoPedido.html">Ingreso Pedido</a></li>
                                <li><a href="ModificarPedido.html">Modificar Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign" style="color: white"></span> {{tipoUsuario.descripcion_tipo_usuario}} </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: white"></span> {{usuario.username}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title"><b>MODIFICAR PEDIDO</b></h2></center></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-1">

                        </div>

                        <div class="col-md-10">
                            <div class="panel panel-default" id="listaOrden">
                                <div class="panel-heading"><center><h3 class="panel-title"><b>Lista Pedidos</b></h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <p>Seleccione un Registro para realizar el pedido:</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-2">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-6">
                                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <center>
                                            <div class="col-md-12 col-xs-12">

                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr class="success">
                                                                <th>#</th>
                                                                <!--<th>Número Pedido</th>-->
                                                                <th>No. Orden Servicio</th>
                                                                <th>Embacación</th>
                                                                <!--<th>Estado</th>-->
                                                            </tr>

                                                        </thead>
                                                        <tbody>

                                                            <tr dir-paginate="item in listaPedidos| filter:busqueda| itemsPerPage:4 track by $index"
                                                                ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item) " pagination-id="pedido">

                                                                <td>{{$index+1}}</td>
                                                                <!--<td>{{ item._id}}</td>-->
                                                                <td>{{ item.orden_servicio.num_orden}}</td>
                                                                <td>{{ item.orden_servicio.embarcacion.nombre_embarcacion}}</td>

                                                            </tr>
                                                            <dir-pagination-controls pagination-id="pedido"></dir-pagination-controls> <!--agregar botones paginacion-->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><center><h2 class="panel-title"><b>Pedido</b></h2></center></div>

                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Alimentos: </h3>
                                    </div>
                                </div>

                                <div class="col-md-6" id="listali">
                                    <p>Nueva:</p>
                                    <select ng-model="seleccionAlimento" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionAlimentos()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaAlimentosNueva | orderBy:aux.tipo_alimento">
                                            {{aux.tipo_alimento.descripcion_tipo_alimento}} {{" -- "}} {{aux.cantidad_alimento}} {{" -- "}} {{aux.unidades_alimento}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <p>Anterior:</p>
                                    <select ng-model="seleccionAlimento" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionAlimentos()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaAlimentos | orderBy:aux.tipo_alimento">
                                            {{aux.tipo_alimento.descripcion_tipo_alimento}} {{" -- "}} {{aux.cantidad_alimento}} {{" -- "}} {{aux.unidades_alimento}}
                                        </option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-4">
                                                <h4>Alimento: </h4>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" ng-model="alimento" ng-options="item._id as item.descripcion_tipo_alimento for item in listaTipoAlimentos"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-6">
                                                <h4>Cantidad: </h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" id="cant" onkeypress="return soloNumeros(event,'cant')" ng-model="cantidadAlimento" min="0" placeholder="0" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-4">
                                                <h4>Unidades: </h4>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="nombre" onkeypress="return soloLetras(event,'nombre')" ng-model="unidadesAlimento" placeholder="Libras" class="form-control" />
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaAlimentos()" />
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaAlimentos()" />
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="eliminarListaAlimentos()" />
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Materiales: </h3>
                                    </div>
                                </div>

                                <div class="col-md-6" id="listmat">
                                    <p>Nueva:</p>
                                    <select ng-model="seleccionMaterial" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionMaterial()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaMaterialesSeleccionadosNueva">
                                            {{aux.material.descripcion_material}} {{" -- "}} {{aux.cantidad_material}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <p>Anterior:</p>
                                    <select ng-model="seleccionMaterial" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionMaterial()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaMaterialesSeleccionados">
                                            {{aux.material.descripcion_material}} {{" -- "}} {{aux.cantidad_material}}
                                        </option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <br>
                                            <br />
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-4">
                                                <h4>Material: </h4>
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" ng-model="material" ng-options="item._id as item.descripcion_material for item in listaMateriales"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">

                                            </div>
                                            <div class="col-md-6">
                                                <h4>Cantidad: </h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" id="numero" onkeypress="return soloNumeros(event,'numero')" ng-model="cantidadMaterial" min="0" placeholder="0" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaMaterial()" />
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaMaterial()" />
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="eliminarListaMaterial()" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">

                                    <br />

                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">

                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>Observaciones: </h4>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="letras" onkeypress="return numerosLetras(event,'letras')" ng-model="observaciones" style="height: 50px;" placeholder="Observaciones del pedido" class="form-control" />
                                    <br />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarPedido()" />
                            </div>

                            <div class="col-md-2">
                                <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="redireccion()" />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>