.jumbotron{


}

.navbar{
    margin-bottom: 15px;
    /*background: #2a6496;*/
    color:white;
}
.navbar-brand{

    color:red;

}
.navbar-nav{
    /* background: #2a6496;*/
    color:yellow;
}
.li{

    color: green;
}

a.active{
    font-weight:bold;
}

body {
    background: #cccccc;
}

.selector_cat{
    width: 100px; 
    overflow: auto;
}

.selected {
    background-color: #808080;
    color: black;
    font-weight: bold;
}

.color2 {
    border: 0.5px solid #222;
    background-color: #E5E8E8;
}

.manita {
    cursor: pointer
}