.jumbotron{


}

.navbar{
    margin-bottom: 15px;
    /*background: #2a6496;*/
    color:white;
}
.navbar-brand{

    color:red;

}
.navbar-nav{
    /* background: #2a6496;*/
    color:yellow;
}
.li{

    color: green;
}

a.active{
    font-weight:bold;
}

body {
    background: #cccccc;
}