<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerPedidoModificar.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerPedidoModificar" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menuMaquinista.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menuMaquinista.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white" ng-click="logout()"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">MODIFICAR PEDIDO</h2></center></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading"><center><h3 class="panel-title">Lista de Pedidos</h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="Clientes" ng-model="seleccionPedido" multiple class="form-control" style="height: 75px;" ng-click="buscarSeleccionListaPedido()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaPedidos | filter:busqueda| orderBy:aux._id">
                                                    {{aux._id}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>ORDEN DE SERVICIO: </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="ordenServicio" class="form-control" disabled />
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>EMBARCACIÓN: </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="embarcacion" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Alimentos: </h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select ng-model="seleccionAlimento" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionAlimentos()" disabled>
                                    <option value={{aux}}
                                            ng-repeat="aux in listaAlimentos | orderBy:aux.tipo_alimento">
                                        {{aux.tipo_alimento.descripcion_tipo_alimento}} {{" -- "}} {{aux.cantidad_alimento}} {{" -- "}} {{aux.unidades_alimento}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Materiales: </h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select ng-model="seleccionMaterial" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionMaterial()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaMaterialesSeleccionadosNueva">
                                        {{aux.material.descripcion_material}} {{" -- "}} {{aux.cantidad_material}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select ng-model="seleccionMaterial" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosSeleccionMaterial()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaMaterialesSeleccionados">
                                        {{aux.material.descripcion_material}} {{" -- "}} {{aux.cantidad_material}}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-4">
                                            <h4>Utensilio: </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" ng-model="material" ng-options="item._id as item.descripcion_material for item in listaMateriales"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-6">
                                            <h4>Cantidad Utensilio: </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" ng-model="cantidadMaterial" min="0" placeholder="0" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaMaterial()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaMaterial()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="eliminarListaMaterial()" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                <br />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Observaciones: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="observaciones" style="height: 50px;" class="form-control" />
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-2">
                            <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarPedido()" />
                        </div>

                        <div class="col-md-2">
                            <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>