<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link type="text/css" href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" href="../alertas/sweetalert.css">

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../alertas/sweetalert.min.js"></script>
    <script src="../notificaciones/notify.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerEmbarcacionModificar.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerEmbarcacionModificar" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menuMaquinista.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menuMaquinista.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoMateriales.html">Materiales</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign" style="color: white"></span> {{tipoUsuario.descripcion_tipo_usuario}} </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: white"></span> {{usuario.username}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->


    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">MODIFICACION EMBARCACION</h2></center></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><center><h3 class="panel-title">Lista de Embarcaciones</h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="Clientes" ng-model="seleccionEmbarcacion" multiple class="form-control" style="height: 75px;" ng-click="buscarSeleccionListaEmbarcacion()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaEmbarcacion | filter:busqueda| orderBy:aux.nombre_embarcacion">
                                                    {{aux.nombre_embarcacion}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Nombre: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="nombreEmbarcacion" placeholder="Nombre Embarcación" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Matrícula: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="numeroMatricula" placeholder="Número Matrícula" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Eslora Total: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="esloraTotal" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Tripulantes: </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Filtrar: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="busquedaTripu" class="form-control" placeholder="Busqueda" />
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-md-5">
                                <select name="Usuarios" ng-model="seleccionTripulante" multiple class="form-control" style="height: 150px;"  disabled >
                                    <option value={{aux}}
                                            ng-repeat="aux in listaTripulanteSelect | filter:busquedaTripu| orderBy:aux.nombre_tripulante">
                                        {{aux.nombre_tripulante}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Capitan: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" disabled ng-model="capitan" ng-options="item._id as item.nombre_tripulante for item in listaTripulantesCapitanes" ></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Puntual: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="puntual" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Propietario: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="propietario" ng-options="item._id as item.nombre_propietario for item in listaPropietarios" disabled ></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Calado: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="calado" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Propulsion: </h4>
                            </div>
                            <div class="col-md-7">
                                <input type="text" ng-model="propulsion" placeholder="Tipo Propulción" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Tonelada Bruto: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="tonelajeBruto" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Tipo Combustible: </h4>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="tipoCombustible" ng-options="item._id as item.descripcion_tipo_combustible for item in listaTipoCombustible" disabled ></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Capacidad Carga: </h4>
                            </div>
                            <div class="col-md-3">
                                <h4> </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="capacidadCarga" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Tipo Embarcación: </h4>
                            </div>
                            <div class="col-md-7"> 
                                <select class="form-control" ng-model="tipoEmbarcacion" ng-options="item._id as item.descripcion_tipo_embarcacion for item in listaTipoEmbarcacion" disabled ></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>Manga: </h4>
                            </div>
                            <div class="col-md-4">
                                <input type="number" ng-model="manga" min="0" placeholder="0" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Fecha Construción: </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group date jp-date">
                                    <input type="text" ng-model="fechaConstruccion" class="form-control" disabled ><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                                <script type="text/javascript">
                                    $('.jp-date').datepicker({
                                        format: "dd/mm/yyyy",
                                        language: "es",
                                        autoclose: true
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>