<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link type="text/css" href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerOrdenServicioModificar.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerOrdenServicioModificar" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menuTimonel.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menuTimonel.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out" style="color: white"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h2 class="panel-title">MODIFICAR ORDEN SERVICIO</h2></center></div>
                <div class="panel-body">
                    <!--<DETAILS ng-open="expression">
                        <summary><font size=6>Busqueda</font></summary>-->
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><center><h3 class="panel-title">Lista de Ordenes</h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" ng-model="seleccionOrdenServicio" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="OrdenServico" ng-model="seleccionOrdenServicioLista" multiple class="form-control" style="height: 60px;" ng-click="buscarSeleccionListaOrdenServicio()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaOrdenServicio | filter:seleccionOrdenServicio">
                                                    {{aux._id}} {{"--"}} {{aux.cliente.nombre_cliente}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</DETAILS>-->
                    <!--<DETAILS ng-open="expression">
                        <summary><font size=6>Cliente, Fecha, otros</font></summary>-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8">
                                <h4>Seleccion de Cliente</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h4>Filtrar: </h4>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="busquedaCliente" class="form-control" placeholder="Busqueda" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>

                                            <div class="col-md-12">
                                                <select name="Clientes" ng-model="seleccionCliente" multiple class="form-control" style="height: 60px;" ng-click="buscarSeleccionListaCliente()">
                                                    <option value={{aux}}
                                                            ng-repeat="aux in listaCliente | filter:busquedaCliente| orderBy:aux.nombre_cliente">
                                                        {{aux.nombre_cliente}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>Fecha Emisión: </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group date jp-date">
                                        <input type="text" ng-model="fechaEmision" placeholder="Fecha Emisión" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <script type="text/javascript">
                                        $('.jp-date').datepicker({
                                            format: "dd/mm/yyyy",
                                            language: "es",
                                            autoclose: true
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Embarcacion: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="embarcacion" ng-options="item._id as item.nombre_embarcacion for item in listaEmbarcacion" disabled></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Puerto Embarque: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="puertoEmbarque" ng-options="item._id as item.descripcion_puerto for item in listaPuerto"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Puerto Desembarque: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="puertoDesembarque" ng-options="item._id as item.descripcion_puerto for item in listaPuerto"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Orometro Inicial M1: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" min="0" ng-model="orometroInicialM1" placeholder="0" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Orometro Inicial M2: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" min="0" placeholder="0" ng-model="orometroInicialM2" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Hora Salida: </h4>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" ng-model="horasSalida" min="0" max="23" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <h4>:</h4>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" ng-model="minutosSalida" min="0" max="59" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Orometro Final M1: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" min="0" placeholder="0" ng-model="orometroFinalM1" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Orometro Final M2: </h4>
                                </div>
                                <div class="col-md-7">
                                    <input type="number" min="0" placeholder="0" ng-model="orometroFinalM2" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Hora Arribo: </h4>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" ng-model="horasArribo" min="0" max="23" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <h4>:</h4>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" ng-model="minutosArribo" min="0" max="59" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Contrato Recepcion: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" disabled ng-model="contratoRecepcion" ng-options="item._id as item.descripcion_contrato_recepcion for item in listaContratoRecepcion"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>Fecha Entrega: </h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group date juan-date">
                                        <input type="text" ng-model="fechaEntrega" placeholder="Fecha Entrega" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <script type="text/javascript">
                                        $('.juan-date').datepicker({
                                            format: "dd/mm/yyyy",
                                            language: "es",
                                            autoclose: true
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Capitan: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="capitan" ng-options="item._id as item.nombre_tripulante for item in listaTripulantesCapitanes"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Estado Orden: </h4>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="estado" ng-options="item._id as item.descripcion_estado for item in listaEstadosOrden"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</DETAILS>-->
                    <!--<DETAILS ng-open="expression">
                    <summary><font size=6>Material Petreo, Vehiculos</font></summary>-->
                    <div class="row">
                        <div class="col-md-2">

                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Detalle Material Pretreo: </h3>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <select ng-model="seleccionMatPetreo" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosMaterialPetreo()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaMatPetreoNueva | orderBy:aux.tipo_material">
                                        {{aux.tipo_material.descripcion_tipo_material}} {{" -- "}} {{aux.num_volquetas}} {{" -- "}} {{aux.cant_total_m3}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select ng-model="seleccionMatPetreo" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosMaterialPetreo()">
                                    <option value={{aux}}
                                            ng-repeat="aux in listaMaterialPetreo">
                                        {{aux.tipo_material.descripcion_tipo_material}} {{" -- "}} {{aux.num_volquetas}} {{" -- "}} {{aux.cant_total_m3}}
                                    </option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-3">
                                            <h4>Tipo Material: </h4>
                                        </div>
                                        <div class="col-md-7">
                                            <select ng-model="seleccionTipoMatPetreo" class="form-control">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaTipoMaterialPetreo">
                                                    {{aux.descripcion_tipo_material}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-6">
                                            <h4>Numero Volquetas </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" placeholder="0" ng-model="numVolquetas" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-md-5">
                                            <h4>Cantidad Total: </h4>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="number" placeholder="0" ng-model="cantTotalM3" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaMatPetreo()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaMatPetreo()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="quitarSeleccionMaterialPetreo()" />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Detalle Vehiculos: </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <select name="VehiculosNuevos" ng-model="seleccionVehiculo" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosVehiculo()">
                                            <option value={{aux}}
                                                    ng-repeat="aux in listaVehiNueva | orderBy:aux.descripcion_vehiculos">
                                                {{aux.descripcion_vehiculos}} {{" -- "}} {{aux.cantidad_vehiculos}}{{" -- "}} {{aux.matricula}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select name="Vehiculos" ng-model="seleccionVehiculo" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosVehiculo()">
                                            <option value={{aux}}
                                                    ng-repeat="aux in listaVehiculo | orderBy:aux.descripcion_vehiculos">
                                                {{aux.descripcion_vehiculos}} {{" -- "}} {{aux.cantidad_vehiculos}}{{" -- "}} {{aux.matricula}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>Descripcion: </h4>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" placeholder="Modelo Vehiculo" ng-model="descripcionVehiculo" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h4>Cantidad: </h4>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" placeholder="0" ng-model="cantidadVehiculo" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>Placa: </h4>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" ng-model="matricula" placeholder="Número Placa" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Agregar" ng-click="agregarListaVehiculo()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarListaVehiculo()" />
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control btn-primary" type="submit" value="Eliminar" ng-click="quitarSeleccionVehiculo()" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--</DETAILS>-->
                    <!--<DETAILS ng-open="expression">
                    <summary><font size=6>Combustible Consumo y Transporte</font></summary>-->
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Consumo Combustible: </h3>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">                               
                                <div class="col-md-6">
                                    <select name="CombustibleConsumo" ng-model="seleccionConsumoCombustible" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosCombustibleComsumo()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaConsumoCombustible">
                                            {{aux.tipo_combustible.descripcion_tipo_combustible}} {{" -- "}} {{aux.cantidad_combustible}}
                                        </option>
                                    </select>
                                </div>
                            </div>                            
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3>Transporte Combustible: </h3>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                                <div class="col-md-6">
                                    <select name="CombustibleTransporte" ng-model="seleccionTransporteCombustible" multiple class="form-control" style="height: 150px;" ng-click="cargarDatosCombustibleTransporte()">
                                        <option value={{aux}}
                                                ng-repeat="aux in listaCombustibleTransporte">
                                            {{aux.tipo_combustible.descripcion_tipo_combustible}} {{" -- "}} {{aux.cantidad_combustible}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <!--</DETAILS>-->
                    <!--<DETAILS ng-open="expression">
                    <summary><font size=6>Observaciones</font></summary>-->

                    <div class="row">
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-5">
                                <div class="col-md-3">
                                    <h4>Detalle: </h4>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" ng-model="detalle" placeholder="Detalle orden" class="form-control"  disabled/>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="col-md-4">
                                    <h4>Observaciones: </h4>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="observaciones" placeholder="observacions Adicionales" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">

                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>Observacion Maquinista: </h4>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" ng-model="observacionMaquinista" placeholder="Observaciones Maquinista" class="form-control"  disabled/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <input class="form-control btn-primary" type="submit" value="Modificar" ng-click="modificarOrdenServicio()" />
                                </div>

                                <div class="col-md-2">
                                    <input class="form-control btn-primary" type="submit" value="Cancelar" ng-click="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h1></h1>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h1></h1>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!--</DETAILS>-->
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>