<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link type="text/css" href="../bootstrap/dist/css/bootstrap.css" id="pagesheet" rel="stylesheet" media="screen" />
    <link type="text/css" href="../css/OverrideComponents.css" id="pagesheet2" rel="stylesheet" media="screen" />
    <link type="text/css" href="../bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" media="screen" />

    <!-----angular-->

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../angular/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/controllerMantenimiento.js"></script>
</head>
<body ng-app="myApp" ng-controller="ControllerMantenimiento" ng-init="iniciar()">

    <!-- inicio de menu-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: white" href="../menuTimonel.html">TSH</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active" style="background-color: #006294; color: white"><a href="../menuTimonel.html">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="IngresoPropietario.html">Propietario</a></li>
                                <li><a href="IngresoPuerto.html">Puerto</a></li>
                                <li><a href="IngresoUsuario.html">Usuario</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actualizar Viajes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="ModificarEmbarcacion.html">Embarcacion</a></li>
                                <li><a href="ModificarMantenimiento.html">Mantimiento</a></li>
                                <li><a href="ModificarOrdenServicio.html">Orden Servicio</a></li>
                                <li><a href="ModificarPedido.html">Pedido</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="color: white" ng-click="logout()"></span> LogOut</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- final menu-->

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading"><center><h3 class="panel-title">MODIFICAR MANTENIMIENTO</h3></center></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><center><h3 class="panel-title">Lista de Ordenes</h3></center></div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-5">
                                            <h4>Filtrar: </h4>
                                        </div>

                                        <div class="col-md-7">
                                            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busqueda" />
                                        </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>

                                        <div class="col-md-12">
                                            <select name="Clientes" ng-model="seleccionMantenimiento" multiple class="form-control" style="height: 75px;" ng-click="buscarSeleccionMantenimiento()">
                                                <option value={{aux}}
                                                        ng-repeat="aux in listaMantenimiento | filter:busqueda">
                                                    {{aux.embarcacion.nombre_embarcacion}}{{"--"}}{{aux.tipo_mantenimiento.descripcion_tipo_mantenimiento}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Tipo Mantenimiento: </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="tipoMantenimiento" ng-options="item._id as item.descripcion_tipo_mantenimiento for item in listaTipoMantenimiento"  disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Embarcacion: </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-model="embarcacion" ng-options="item._id as item.nombre_embarcacion for item in listaEmbarcacion"  disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Fecha mantenimiento: </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group date juan-date">
                                            <input type="text" ng-model="fechaMantenimiento" placeholder="Fecha Entrega" class="form-control"  disabled><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                        <script type="text/javascript">
                                            $('.juan-date').datepicker({
                                                format: "dd/mm/yyyy",
                                                language: "es",
                                                autoclose: true
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-3">
                                        <h4>Nombre mecánico: </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" ng-model="mecanico" placeholder="Nombre mecánico" class="form-control"  disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-4">

                                        <h3>Detalle Mantenimiento: </h3>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-2">
                                        <h4>Orometro: </h4>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-10">
                                            <input type="number" ng-model="orometro" placeholder="0" min="0" class="form-control" disabled />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <h4>Proximo Orometro: </h4>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-10">
                                            <input type="number" ng-model="proximoOrometro" placeholder="0" min="0" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-2">
                                        <h4>Observacion: </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" ng-model="piezasCambiadasObservaciones" placeholder="Describir los cambios realizados" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                
            </div>
        </div>
    </div>

</body>
</html>